* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    

    /* HEADER*/

    header {
        background-color:#FC7300;
        height: 65px;
        display: flex;
    }

    header img {
        width: 80%;
        margin-top: 17%;
        margin-left: 3%;
    }

    .logo {
        width: 8%;
    }

    nav {
        display: flex;
        width: 100%;

    }

    .menu {
        height: 65px;
        display: flex;
        list-style: none;
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content:space-around;

    }



    a {
        text-decoration: none;
        color: #181823; 
        font-size: 16px;
        font-weight: 600;
        
    } 



    /* seccion banner */
        
    #banner {
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 470px;
        
    }
        
    h1 {
        font-size: 80px;
        color: #EFF5F5; 
        
    }
        
    #banner p {
        font-weight: 900;
        font-size: 23px;
        color: #EFF5F5; 
        
    }

    /*seccion quienes somos*/

    #quienes-somos {
        height: 450px;
        display: flex;
        flex-direction: column;
        color: #00425A;



    }
    .centro {
        text-align: center;
    }

    h2 {
        padding-top: 8%;
        padding-bottom: 4%;
        font-size: 33px;
    }

    .foto-quienessomos {
        display: flex;
    }

    .foto-quienessomos img {
        width: 38%;
        padding-left: 2%;
    }

    #quienes-somos p {
        width: 60%;
        font-size: 17px;
        font-weight: 600;
        margin-left: 1%;
    }

    #quienes-somos h2 {

        color: #181823;
        text-shadow: 0 0 10px #EFF5F5, 0 0 20px #EFF5F5, 0 0 30px #1F8A70, 0 0 40px #1F8A70, 0 0 50px #00425A, 0 0 60px #00425A;
        margin-bottom: 70px;
        margin-top: 40px;
      
    }


    /*seccion propuesta educativa*/
        
        
    #popuesta-educativa {
        background-color:#EFF5F5;
        color: #181823; 
        height: 1850px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #popuesta-educativa > h2 {
        text-align: center;
        font-weight: 900;
        font-size: 35px;
        padding:  15px 20px;
        display: block;
        margin: 20px 50px;
        text-decoration: none;
        margin-top: 20%;
        border: 3px solid #00425A;
        text-shadow: 2px 2px 4px #EFF5F5;
        background-color:#1F8A70


        
    }
        
    .container {
        width: 100%;
        display: flex;
        height: 1500px;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15%;
    }
 
    .card0 {
        background-color: #00425A;
        width: 300px;
        height: 600px;
        border-radius: 15px;
        border: 5px solid #181823;


    }
    
    .card-image {
        height: 200px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    
    .card-1 {
        background-image: url(../img/multidisciplinario.jpg);
    }
    
    .card-2 {
        background-image: url(../img/aprend-coorporativo.jpg);
    }
    
    .card-3 {
        background-image: url(../img/ni-os-de-excursi-n.jpg.jpg);
    }
    
    .card-4 {
        background-image: url(../img/evaluacion-formativa.jpg);
    }
    
    .card0 a {
        background-color: #FC7300;
        color: #181823;
        padding:  15px 20px;
        display: block;
        text-align: center;
        margin: 20px 50px;
        font-size: 20px;
        text-decoration: none;
        margin-top: 20%;
        border-radius: 10px;
        border: 3px solid #1F8A70;
    
    }
    
    .card0 h2 {
        text-align: center;
        margin-top: 10%;
        font-size: 30px;
        color: #EFF5F5;
        font-style:italic;
    }

    
    .card0 p{
        margin-top: 10%;
        margin-left: 2%;
        font-size: 18px;
        width: 95%;
        text-align: justify;
        color: #EFF5F5;
    
    }

    .card4 h2 {
        margin-top: -1%;
    }

    .card4 a {
        margin-top: 13%;    
           
    }
    

    /* eligenos */
        
    #porque-elegirnos {
        background-color: #1F8A70; 
        height: 600px;
        color: #181823;
    }



    #porque-elegirnos h2 {
        padding-bottom: 10%;
        font-size: 33px;
        font-weight: 900;
        text-shadow: 2px 2px 4px #00425A;

        }
    
    .container-eligenos {
        display: flex;
        flex-direction: row-reverse;

    }

    .container-eligenos img {
        height: 80%;
    }
        
    #porque-elegirnos p {
        padding-left: 3%;
        width: 60%;
        padding-right: 3.3%;
        font-size: 18px;
        font-weight: 700;
        text-shadow: 1px 1px 2px #00425A;

    }


        /* seccion noticias*/ 
    
    #noticias {
        background-color:#181823;
        color: #EFF5F5;
        height: 1000px;
        
    }

    #noticias h2{
        background-color: #EFF5F5;
        border: 3px solid #FC7300; 
        padding: 10px; 
        color: #181823;
        margin-bottom: 35px;

    }
        
    #noticias p {
        font-size: 95%;
        padding-bottom: 10%;
        margin-top: 5%;
        width: 90%;
           
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
        
    .card {
        margin-top: 15%;
    }
        
/* Estilos básicos para la card */
    .tarjeta2 {
        width: 270px;
        height: 280px;
        border: 2px inset #181823;
        padding:10px;
        color: #EFF5F5;
        margin-top: 30%;
    }
         
    .card1-image {
        height: 100px;
        background-size: cover;
    }
        
    .image1 {
        background-image: url(../img/excursionZoo.jpg);
    }
    .image2 {
        background-image: url(../img/arteYcreatividad.jpg);
    }
    .image3 {
        background-image: url(../img/charlaSeguridad.jpg);
    }
    .image4 {
        background-image: url(../img/diaDelDeporte.jpg);
    }
         
/* Estilos para el título dentro de la card */
    .tarjeta2 h4 {
        font-size: 22px;
        color: #EFF5F5;
        font-weight: 900;
        margin-top: 10%;
        
    }
         
/* Estilos para el texto descriptivo dentro de la card */
    .tarjeta2 p {
        margin-top: 10px;
        color: #EFF5F5;
        font-size: 17px;
    }


    

    /*footer*/

    footer{
        display: flex;
        background-color: #00425A;
        color: #EFF5F5;     
        height: 350px;
        justify-content: space-around;
    
    }


    #redessociales {
        margin-top: 7%;
        width: 30%;
        display: flex;
        height: 190px;
        flex-direction: column;

    }
    
    footer h2 {
        font-size: 30px;
    }

    #redessociales p {
        margin-top: 5%;
        font-size: 16px;
        font-weight: 600;
        width: 90%;

    }
    
    .i-sociales {
        margin-top: 12%;
        margin-right: 15px;
        display: flex;
        width: 80%;
        justify-content: space-between;
    }
    #ubicacion {
        margin-top: 7%;
        width: 30%;
        height: 200px;
        display: flex;
        flex-direction: column;
    }



    #contact {
        margin-top: 7%;
        height: 190px;
        width: 30%;
        display: flex;
        flex-direction: column;
        
    
    }
    
    #contact p {
        margin-top: 7%;
    }

    hr {
        display: none;
    }

    #contact a {
        display: none;
    }
    
    .pie {
        display: flex;
        align-items: center;
        background-color: #FC7300;
        height: 30px;
        justify-content: center;
    }

    .pie p{
        color:#181823;
        font-style: oblique;
        font-size: 17px;
        font-weight: 900;
    }


}











@media screen and (max-width: 500px) {

    header {
        height: 180px;
        background-color:#FC7300;
        display: flex;
    }

    header img {
        width: 80%;
    }

    .logo {
        width: 25%;
    }

    nav {
        display: flex;
        width: 100%;

    }


    .menu {
        height: 160px;
        display: flex;
        margin-left: 8%;
        list-style: none;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    }
    
    a {
        text-decoration: none;
        color: #181823; 
        font-size: 17px;
        font-weight: 900;
    
    }
    
    /* seccion banner */
    
    #banner {
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 460px;
    
    }
    
    h1 {
        font-size: 75px;
        color: #EFF5F5; 
    
    }
    
    #banner p {
        font-weight: 900;
        font-size: 22px;
        color: #EFF5F5; 
    
    }
    
    /*seccion quienes somos*/ 
    #quienes-somos {
        height: 770px;
        display: flex;
        flex-direction:column;
        color: #00425A;
        background-color: #EFF5F5;
        margin-top: 15%;
    
    }


    .centro {
        text-align: center;
    }
    
    #quienes-somos h2 {
        padding-top: 3%;
        padding-bottom: 2%;
        font-size: 33px;
    }
    
    .foto-quienessomos {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .foto-quienessomos img {
        margin-top: 17%;
        width: 100%;
    }

    #quienes-somos h2 {
        margin-top: 20px;
        color: #181823;
        text-shadow: 0 0 3px #EFF5F5, 0 0 7px #EFF5F5, 0 0 9px #1F8A70, 0 0 14px #1F8A70, 0 0 19px #00425A, 0 0 25px #00425A;
    }
    
    #quienes-somos p {
    
        padding-top: 5%;
        margin-top: 12%;
        margin-left: 1%;
        font-size: 17.5px;
        font-weight: 700;
    }
    
    /*seccion propuesta educativa*/
    
    
    #popuesta-educativa {
        background-color:#EFF5F5;
        color: #181823; 
        height: 2950px;
    
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2850px;
        justify-content: space-around;
    }
    
    .card0 {
        background-color: #00425A;
        width: 300px;
        height: 600px;
        border-radius: 15px;
        border: 5px solid #1F8A70;
        margin-top: 20%;

    }
    
    .card-image {
        height: 200px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }
    
    .card-1 {
        background-image: url(../img/multidisciplinario.jpg);
    }
    
    .card-2 {
        background-image: url(../img/aprend-coorporativo.jpg);
    }
    
    .card-3 {
        background-image: url(../img/ni-os-de-excursi-n.jpg.jpg);
    }
    
    .card-4 {
        background-image: url(../img/evaluacion-formativa.jpg);
    }
    
    .card0 a {
        background-color: #FC7300;
        color: #181823;
        padding:  15px 20px;
        display: block;
        text-align: center;
        margin: 20px 50px;
        font-size: 20px;
        text-decoration: none;
        margin-top: 20%;
        border-radius: 10px;
        border: 3px solid #181823;
    
    }
    
    .card0 h2 {
        text-align: center;
        margin-top: 10%;
        font-size: 30px;
        color: #EFF5F5;
    }
    
    .card0 p{
        margin-top: 10%;
        margin-left: 2%;
        font-size: 18px;
        width: 95%;
        text-align: justify;
        color: #EFF5F5;
    
    }
    
    
    #popuesta-educativa > h2 {
        text-align: center;
        font-weight: 900;
        font-style: italic;
        font-size: 36.5px;
        padding-top: 5%;
        padding-bottom: 5%;
        background: #1F8A70;
        text-shadow: 2px 2px 4px #EFF5F5;
        
    }
    
    /* eligenos */
    
    #porque-elegirnos {
        background-color: #EFF5F5; 
        height: 850px;
        color: #181823;
    }

    #porque-elegirnos h2 {
    padding-top: 16%;
    padding-bottom: 2%;
    font-size: 33px;
    text-shadow: 4px 6px 8px #00425A;

    }

    .foto-eligenos {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .container-eligenos img {
        width: 100%;
    }

    #porque-elegirnos img {
        margin-top: 4%;
    }
    
    #porque-elegirnos p {
        font-size: 95%;
        padding-top: 6%;
        margin-top: 5%;
        margin-left: 1%;
        font-size: 17.5px;
        font-weight: 700;
    
    }
    .segundoParrafo {
        margin-top: -4% !important;
    }
    
    /* seccion noticias*/ 
    
    #noticias {
         background-color:#181823;
         color: #EFF5F5;
         height: 1070px;
    
    }

    #noticias h2 {
        padding-top: 13%;
        font-size: 33px;

        background-color: #181823;
        border-top: 3px solid #FC7300; 
        border-bottom: 3px solid #FC7300;
        padding: 10px; 
        color: #EFF5F5;
        margin-bottom: 30px;

    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

     
    .card1-image {
        height: 100px;
        background-size: cover;
    }
    
    .image1 {
        background-image: url(../img/excursionZoo.jpg);
    }
    .image2 {
        background-image: url(../img/arteYcreatividad.jpg);
    }

    .card {
        margin-left: 10%;
        margin-top: 3%;
    }
    
    /* Estilos básicos para la card */
    .tarjeta2 {
        width: 90%;
        height: 330px;
        border: 2px inset #181823;
        border-radius: 12px;
        padding:20px;
        color: #EFF5F5;
        margin-top: 25%;
        margin-left: -20px;
    }
      
      
    /* Estilos para el título dentro de la card */
    .tarjeta2 h4 {
        font-size: 26px;
        color: #EFF5F5;
        font-weight: 900;
        margin-top: 13%;

    }
      
    /* Estilos para el texto descriptivo dentro de la card */
    .tarjeta2 p {
        margin-top: 10px;
        color: #EFF5F5;
        font-size: 17px;
        margin-top: 7%;
    }
    

    .desktop {
        display: none;
    }

    
    /* seccion footer*/
    
    footer{
        display: flex;
        flex-direction: column;
        background-color: #00425A;
        color: #EFF5F5; 
        height: 650px;
    
    }

    /*Redes Sociales*/
    
    #redessociales {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 180px;
        align-items: center;
        justify-content: space-between;
    }

    #redessociales h2 {
        padding-top: 25%;
        font-size: 33px;
        font-weight: 900;

    }

    #redessociales p {
        display: none;;
    }

    
    .i-sociales {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-top: 10%;
    }

    /*Ubicacion*/
    
    #ubicacion {
        display: none;
    }
    
    /*Contacto*/
    
    #contact {
        margin-top: 15%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-weight: 900;
    
    }

    #contact p {
        font-size: 17px;
    }
    
    #contact h2 {
        margin-top: 10%;
        font-size: 33px;
        font-weight: 900;

    }
    hr {
        margin-top: 20%;
        width: 70%;
        margin-left: 15%;
    }
    
    .contacto-opciones {
        height: 160px;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .inicio {
        margin-top:20%;
        text-align: center;
        background-color: #1F8A70;
    }
    #contact a {
        color: #181823;
        font-size: 20px;
        font-weight: 900;
    }

    .pie {
        text-align: center;
        background-color: #FC7300;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .pie p{
        color:#181823;
        font-style: oblique;
        width: 100%;
        font-size: 95%;
        font-weight: 900;
    }
 
}
