* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

@media screen and (min-width: 768px) {
    

    /* HEADER*/

    header {
        background-color:#FC7300;
    }

    .menu {
        height: 50px;
        display: flex;
        list-style: none;
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content:space-around;

    }


    a {
        text-decoration: none;
        color: #EFF5F5; 

    }


    /* seccion banner */
        
    #banner {
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 470px;
        
    }
        
    h1 {
        font-size: 80px;
        color: #EFF5F5; 
        
    }
        
    #banner p {
        font-weight: 1000;
        color: #EFF5F5; 
        
    }

    /*seccion quienes somos*/

    #quienes-somos {
        height: 300px;
        display: flex;
        flex-direction: column;
        color: #00425A;



    }
    .centro {
        text-align: center;
    }

    h2 {
        padding-top: 3%;
        padding-bottom: 2%;
    }

    .foto-quienessomos {
        display: flex;
    }

    .foto-quienessomos img {
        width: 38%;
        padding-left: 2%;
    }

    #quienes-somos p {
        width: 60%;
    }


    /*seccion propuesta educativa*/
        
        
    #popuesta-educativa {
        background-color:#181823;
        color: #EFF5F5; 
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
        
    .container {
        width: 500px;
        display: flex;
        height: 800px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
        
        
    #popuesta-educativa > h2 {
        text-align: center;
        font-weight: 900;
        font-style: italic;
        font-size: 250%;
    }
        
        
        
    /* Estilos básicos para la card */
    .tarjeta {
        width: 150px;
        height: 280px;
        border: 3px solid #FC7300;
        border-radius: 12px;
        padding:20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-image: url(../img/compu.png);
        color: #EFF5F5;
        text-align: center;
        background-color: #1F8A70;
    }
        
        
    /* Estilos para el título dentro de la card */
    .tarjeta h2 {
        font-size: 20px;
        color: #181823;
        font-weight: 900;
    }
        
    /* Estilos para el texto descriptivo dentro de la card */
    .tarjeta p {
        margin-top: 10px;
        color: #181823;
    }
        
    .container button {
        margin-top: 5%;
        border-radius: 5px;
        color:#FC7300;
        background-color: #181823;
        border-style: none;
        
    }


    /* eligenos */
        
    #porque-elegirnos {
        background-color: #00425A; 
        height: 300px;
        color:#FC7300;
    }
    .foto-eligenos {
        display: flex;
        flex-direction: row-reverse;
    }
        
    #porque-elegirnos p {
        padding-left: 3%;
        width: 60%;
        padding-right: 3.3%;
        
    }


        /* seccion noticias*/ 
    
    #noticias {
         background-color:#181823;
         color: #EFF5F5;
         height: 200px;
    
    }
    
    #noticias p {
        font-size: 70%;
        padding-bottom: 10%;
        margin-top: 5%;
        width: 90%;
        
    }
    .flex {
        display: flex;
    }
    
    .news {
        margin-top: 2%
    }

    footer{
        display: flex;
        background-color: #00425A;
        color: #EFF5F5;     
        height: 250px;
        justify-content: space-around;
    
    }

    #redessociales {
        margin-top: 3%;
        width: 30%;
        display: flex;
        height: 190px;
        flex-direction: column;

    }
    
    .i-sociales {
        margin-top: 5%;
        margin-right: 15px;
        display: flex;
        width: 90%;
        justify-content: space-between;
    }
    #ubicacion {
        margin-top: 3%;
        width: 30%;
        height: 200px;
        display: flex;
        flex-direction: column;
    }



    #contact {
        margin-top: 3%;
        height: 190px;
        width: 30%;
        display: flex;
        flex-direction: column;
        
    
    }
    
    .pie {
        text-align: center;
        background-color: #FC7300;
    }

    .pie p{
        color:#181823;
        font-style: oblique;
    }


}











@media screen and (max-width: 500px) {

    header {
        height: 130px;
        background-color:#FC7300;
    }
    
    
    .menu {
        height: 120px;
        display: flex;
        list-style: none;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    
    }
    
    a {
        text-decoration: none;
        color: #EFF5F5; 
        font-size: 13px;
    
    }
    
    /* seccion banner */
    
    #banner {
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 370px;
    
    }
    
    h1 {
        font-size: 60px;
        color: #EFF5F5; 
    
    }
    
    #banner p {
        font-weight: 900;
        color: #EFF5F5; 
    
    }
    
    /*seccion quienes somos*/ 
    #quienes-somos {
        height: 370px;
        display: flex;
        flex-direction:column;
        color: #00425A;
        background-color: #EFF5F5;
    
    
    }
    .centro {
        text-align: center;
    }
    
    h2 {
        padding-top: 3%;
        padding-bottom: 2%;
    }
    
    .foto-quienessomos {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .foto-quienessomos img {
        width: 60%;
    }
    
    #quienes-somos p {
    
        font-size: 90%;
        padding-top: 3%;
    }
    
    /*seccion propuesta educativa*/
    
    
    #popuesta-educativa {
        background-color:#181823;
        color: #EFF5F5; 
        height: 1200px;
    
    }
    
    .container {
        display: flex;
        flex-direction: column;
        height: 1050px;
        justify-content: space-around;
    
    }
    
    
    #popuesta-educativa > h2 {
        text-align: center;
        font-weight: 900;
        font-style: italic;
        font-size: 250%;
    }
    
    
    .card {
        margin-left: 10%;
    }
    
    /* Estilos básicos para la card */
    .tarjeta {
        width: 75%;
        height: 190px;
        border: 3px solid #FC7300;
        border-radius: 12px;
        padding:20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-image: url(../img/compu.png);
        color: #EFF5F5;
        text-align: center;
        background-color: #1F8A70;
    }
      
      
    /* Estilos para el título dentro de la card */
    .tarjeta h2 {
        font-size: 20px;
        color: #181823;
        font-weight: 900;
    }
      
    /* Estilos para el texto descriptivo dentro de la card */
    .tarjeta p {
        margin-top: 10px;
        color: #181823;
    }
    
    .container button {
        margin-top: 5%;
        border-radius: 5px;
        color:#FC7300;
        background-color: #181823;
        border-style: none;
    
    }
    
    /* eligenos */
    
    #porque-elegirnos {
        background-color: #00425A; 
        height: 450px;
        color:#FC7300;
    }
    .foto-eligenos {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .foto-eligenos img {
        width: 60%;
    }
    
    #porque-elegirnos p {
        font-size: 90%;
        padding-top: 3%;
    
    }
    
    /* seccion noticias*/ 
    
    #noticias {
         background-color:#181823;
         color: #EFF5F5;
         height: 170px;
    
    }
    
    #noticias p {
        font-size: 70%;
        padding-bottom: 10%;
        margin-top: 5%;
        
    }
    .flex {
        display: flex;
    }
    
    .news {
        margin-top: 2%
    }
    .news1 {
        display: none;
    }
    
    /* seccion footer*/
    
    footer{
        display: flex;
        flex-direction: column;
        background-color: #00425A;
        color: #EFF5F5; 
        font-size: 80%;    
        height: 125px;
    
    }
    
    #redessociales {
        width: 100%;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }

    #redessociales p {
        display: none;;
    }

    
    .i-sociales {
        margin-right: 15px;
        display: flex;
        width: 40%;
        justify-content: space-between;
    }
    
    #ubicacion {
        display: none;
    }
    
    
    #contact {
        margin-top: 5%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    
    }
    
    #contact h2 {
        margin-top: 10%;
    }
    
    .contacto-opciones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pie {
        text-align: center;
        background-color: #FC7300;
    }

    .pie p{
        color:#181823;
        font-style: oblique;
        width: 100%;
        font-size: 70%;
    }
 
}
